body {
  background: #E9DAC1;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cart-widget i.bi.bi-cart3 {
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 1023px) {
  .cart-widget {
    margin-right: 2rem;
  }
  .cart-widget i.bi.bi-cart3 {
    font-size: 2rem;
  }
}
.lf-header {
  background-color: black;
  filter: drop-shadow(0px 2px 1px #121219);
}
.lf-header .top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
  padding: 0 calc(1rem + 2vw);
}
.lf-header .top-header h2 {
  color: black;
  font-size: 2rem;
  text-shadow: 1px 2px 1px black;
  margin: 0;
}
.lf-header .top-end {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.lf-header .top-end i.bi.bi-list {
  font-size: 2rem;
}

.lf-navbar {
  display: none;
}
.lf-navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 0 5rem;
}
.lf-navbar a {
  text-decoration: none;
  color: #1f190d;
  color: #282214;
  text-shadow: 1px 1px 2px #fabd4e;
}

input:checked ~ .lf-navbar {
  display: flex;
  height: calc(20rem + 3vh + 5vw);
  align-items: center;
  padding: 1rem;
  justify-content: space-around;
  width: 100%;
  background-color: black;
  background: black;
  font-size: calc(1.1rem + 1vw);
}
input:checked ~ .lf-navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 0 5rem;
  flex-direction: column;
}

@media screen and (min-width: 1023px) {
  .lf-header {
    background-color: black;
    filter: drop-shadow(0px 2px 1px #121219);
  }
  .lf-header .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    padding: 0 5rem;
  }
  .lf-header .top-header h2 {
    color: white;
    font-size: 2rem;
    margin: 0;
  }
  .lf-header .top-header .burger-btn {
    display: none;
  }

  .lf-navbar, input:checked ~ .lf-navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #F7ECDE;
    height: 2.2rem;
    font-size: 1rem;
  }
  .lf-navbar ul, input:checked ~ .lf-navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding: 0 5rem;
    flex-direction: row;
  }
  .lf-navbar a, input:checked ~ .lf-navbar a {
    text-decoration: none;
    color: black;
  }
}
.greeting {
  display: flex;
  width: 100%;
  padding: 2rem;
  font-size: 1rem;
  background: linear-gradient(264deg, #222229, #1d1d27, #282830);
  color: #ceceff;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.ic-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: hsl(0deg, 0%, 98%);
  width: 18rem;
  height: 8rem;
}

.ic-title {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #36374b;
}

.ic-body {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.counter {
  height: 100%;
  display: flex;
  gap: 0.5rem;
  font-size: 1.8rem;
  align-items: center;
  font-weight: 700;
}

.counter span {
  width: 2rem;
  text-align: center;
}

.count-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 11%;
  color: #37374c;
  border: 1px solid #38384c;
  box-shadow: 1px 1px 1px #35364a;
  background: white;
  transition: all cubic-bezier(0.31, 0.46, 1, 1) 0.05s;
}

.count-btn:hover {
  filter: brightness(0.9);
}

.count-btn:active {
  filter: unset;
  box-shadow: unset;
  transform: translate(1px, 1px);
}

/* From uiverse.io by @Voxybuns */
.add-to-cart {
  height: 100%;
  display: flex;
  align-items: center;
}
.add-to-cart button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: green;
  --button_outline_color: white;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}
.add-to-cart .button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.6em 1.2em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.1em);
  transition: transform 0.1s ease;
}
.add-to-cart button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.13em);
}
.add-to-cart button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.cards-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
}
.cards-container a {
  all: unset;
  display: flex;
  height: auto;
}

.product-card {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  grid-gap: 1rem;
  gap: 1rem;
  width: 17rem;
  height: auto;
  text-align: center;
  /* padding: 1rem; */
  padding-top: 1.5rem;
  background: white;
  border-radius: 8px;
  transition: transform ease-in-out 0.25s;
}
.product-card:hover {
  transform: scale(1.025);
  box-shadow: 0px 0px 11px 2px #61618a;
}

.product-card-body {
  /* padding: 1rem; */
  width: 100%;
  /* border-top: 1px solid #323346; */
  background: #dcdcdc;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 0 0 8px 8px;
  padding-top: 1rem;
}

.product-card img {
  height: 11rem;
  max-width: 11rem;
}

.product-card-price {
  font-size: 2rem;
  font-weight: bold;
  color: #7DCE13;
}
.product-card-price p::before {
  content: "$";
}

.product-card-title h3 {
  font-size: 1rem;
  font-weight: 600;
  width: 80%;
  margin: 0 auto;
  color: #36374b;
}

button.buy-btn {
  cursor: pointer;
  width: 100%;
  height: 3rem;
  background: red;
  border: none;
  border-top: 1px solid #3f2900;
  border-radius: inherit;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0px 0px 5px #3d3f6a;
  text-shadow: -1px -1px 0 #915e00, 1px -1px 0 #915e00, -1px 1px 0 #915e00, 1px 1px 0 #915e00;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding: 1rem;
}

.product-detail {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 55rem;
  height: auto;
  gap: 2rem;
  background-color: #fafafa;
  padding-top: 3rem;
  justify-content: space-around;
  align-items: center;
}

.detail-image {
  height: 15rem;
}

img {
  height: 100%;
}

.detail-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  justify-content: center;
  width: 80%;
  gap: 1rem;
}

.detail-title {
  font-size: 1.4rem;
  color: #36374b;
}
.detail-title h3 {
  text-align: center;
}

.detail-price {
  font-size: 2rem;
  font-weight: 600;
}
.detail-price p::before {
  content: "$";
}

.detail-description {
  font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
  .detail-container {
    padding: 2rem 3rem;
  }

  .product-detail {
    flex-direction: row;
    padding: 3rem;
  }

  .detail-body {
    width: 61%;
    gap: 0.75rem;
  }
}

.la-ball-clip-rotate,
.la-ball-clip-rotate > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.la-ball-clip-rotate {
  display: block;
  font-size: 0;
  color: white;
}

.la-ball-clip-rotate.la-dark {
  color: #333;
}

.la-ball-clip-rotate > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.la-ball-clip-rotate {
  width: calc(60px + 1vw);
  height: calc(60px + 1vw);
}

.la-ball-clip-rotate > div {
  width: 32px;
  height: 32px;
  background: transparent;
  border-width: 2px;
  border-bottom-color: transparent;
  border-radius: 100%;
  -webkit-animation: ball-clip-rotate 0.75s linear infinite;
  -moz-animation: ball-clip-rotate 0.75s linear infinite;
  -o-animation: ball-clip-rotate 0.75s linear infinite;
  animation: ball-clip-rotate 0.5s linear infinite;
}

.la-ball-clip-rotate.la-sm {
  width: 16px;
  height: 16px;
}

.la-ball-clip-rotate.la-sm > div {
  width: 16px;
  height: 16px;
  border-width: 1px;
}

.la-ball-clip-rotate.la-2x {
  width: calc(64px + 5vw);
  height: calc(64px + 5vw);
}

.la-ball-clip-rotate.la-2x > div {
  width: calc(64px + 3vw);
  height: calc(64px + 3vw);
  border-width: 9px;
}

.la-ball-clip-rotate.la-3x {
  width: 96px;
  height: 96px;
}

.la-ball-clip-rotate.la-3x > div {
  width: 96px;
  height: 96px;
  border-width: 6px;
}

/*
 * Animation
 */
@-webkit-keyframes ball-clip-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes ball-clip-rotate {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes ball-clip-rotate {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ball-clip-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none;
  color: unset;
  font-weight: unset;
}

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 3rem;
  gap: 3rem;
}

.category-image {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.category-name {
  text-align: center;
  text-transform: capitalize;
  color: #36374b;
  font-size: 1.2rem;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16rem;
  cursor: pointer;
  background: white;
  padding: 1rem 1rem 0.4rem 1rem;
  border-radius: 5px;
}
.category-card:hover {
  transform: scale(1.025);
  box-shadow: 0px 0px 11px 2px #61618a;
}

@media screen and (min-width: 800px) {
  a {
    text-decoration: none;
    color: unset;
    font-weight: unset;
  }

  .categories-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
    gap: 0;
  }

  .category-image {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
  }

  .category-name {
    text-align: center;
    text-transform: capitalize;
    color: white;
  }

  .category-card {
    cursor: pointer;
    background: black;
    padding: 1rem 1rem 0.4rem 1rem;
    border-radius: 5px;
  }
  .category-card:hover {
    transform: scale(1.025);
    box-shadow: 0px 0px 11px 2px #61618a;
  }
}
.error404 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error404 h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.itemsInCart{
  color: white
}
