.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* NAVBAR */
.cursive{
  font-family: 'The Nautigal', cursive;
  font-size: 2rem;
  text-decoration: none;
}

.navmb{
  margin-bottom: 7rem;
}

.logo {
  padding: 0px 20px;
  margin: 0 80px;
}


.fixedmenu{
  top: 0;
  left: 0;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 1002;
}

.colornf {
background-color: #87805E;
}

.bordenv {
  border-radius: 10rem;
  text-align: center;
}
.paddnav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navtransition {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  text-decoration: none;
}

.white-text{
  color: white;
}

.navtransition:hover {
  text-decoration: underline;
  color: black;
}