.logo {
  width: 200px;
  height: auto;

}

div .boxNav {
  border-bottom: solid;
  
}

.navbar {
  background: linear-gradient(90deg,#89CFFD,#277BC0);
  font-weight: bold;
  font-size: large; 
}

.navbar-brand {width: 20%;


}
 div .card {
  width: 30%;
  margin: 15px;
} 
 /*.Card {
  width: 50%;
} */


.divCount {
  display: inline-flex
}
.pCount{
  padding: 5px;
  border: solid;
  margin: 5px;
}

.margin-r{
  margin-right: 3rem;
}